.page {
  min-height: 100svh;
  padding: 80px;
  padding: 40px 80px;
  font-family: var(--font-open-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1900px;
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
